<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Zenthia - Instalación de LiquidAR" Version="1.0.0.0" Manufacturer="Zenthia" UpgradeCode="977e2a97-0a72-4592-8c24-fff52001d783">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
			<bal:WixStandardBootstrapperApplication
			  LogoFile="Resources/banner.png"
			  ThemeFile="Resources/ClassicTheme.xml"
			  LocalizationFile="Resources/ClassicTheme.wxl"
			  LicenseUrl="http://opensource.org/licenses/ms-rl" />
			<!-- Payloads adicionales que usa el theme -->
			<Payload SourceFile="Resources\background.png" />
		</BootstrapperApplicationRef>
		<!--<BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
			<Payload SourceFile="..\ZenthiaInstallerWpf\bin\Release\ZenthiaInstallerWpf.dll" />
			<Payload SourceFile="..\ZenthiaInstallerWpf\bin\Release\BootstrapperCore.config" />
			--><!-- Agregá aquí cualquier DLL adicional que tu WPF use (helpers, recursos, etc.) --><!--
			<Payload SourceFile="..\ZenthiaInstallerWpf\bin\Release\BootstrapperCore.dll" />
			<Payload SourceFile="C:\Program Files (x86)\WiX Toolset v3.14\SDK\Microsoft.Deployment.WindowsInstaller.dll"/>
		</BootstrapperApplicationRef>-->
		<Chain>
			<PackageGroupRef Id="NetFx46Web" />
			<MsiPackage
				Id="ZenthiaMsi"
				SourceFile="E:\Proyectos\Zenthia.LiquidAR\Zenthia.InstalAR.Msi\bin\Release\Zenthia.InstalAR.Msi.msi"
				DownloadUrl="https://storage.googleapis.com/zenthia-ar.firebasestorage.app/clickonce/78eb2a3c0527a0cb969c5689e20110d8/Zenthia.InstalAR.Msi.msi"
				Compressed="no"
				Vital="yes">

				<!-- El cab externo referenciado por el MSI -->
				<Payload
					SourceFile="E:\Proyectos\Zenthia.LiquidAR\Zenthia.InstalAR.Msi\bin\Release\cab1.cab"
					DownloadUrl="https://storage.googleapis.com/zenthia-ar.firebasestorage.app/clickonce/78eb2a3c0527a0cb969c5689e20110d8/cab1.cab"
					Compressed="no"/>

			</MsiPackage>
		</Chain>
	</Bundle>

	<Fragment>
		<WixVariable Id="WixMbaPrereqPackageId" Value="NetFx46Web" />
		<WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />
	</Fragment>
	
	<!--<Fragment>
		--><!-- Managed bootstrapper requires .NET as a dependency, since it was written in .NET.
         WiX provides a Bootstrapper for the bootstrapper. The fragment below includes .NET 4.6.
         For more information or examples see Heath Stewart's blog or the WiX source:
         http://blogs.msdn.com/b/heaths/archive/2011/10/28/introducing-managed-bootstrapper-applications.aspx
         --><!--
		<WixVariable Id="WixMbaPrereqPackageId" Value="Netfx46Full" />
		<WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />

		--><!-- .NET 4.5+ usa el valor DWORD "Release" en vez de "Version" --><!--
		<util:RegistrySearch Root="HKLM"
							  Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
							  Value="Release"
							  Variable="Netfx4FullVersion" />
		<util:RegistrySearch Root="HKLM"
							  Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
							  Value="Release"
							  Variable="Netfx4x64FullVersion"
							  Win64="yes" />

		<PackageGroup Id="Netfx46Full">
			<ExePackage Id="Netfx46Full" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="yes"
						Name="redist\NDP46-KB3045560-x86-x64-AllOS-ENU.exe"
						DownloadUrl="https://download.microsoft.com/download/C/3/A/C3A5200B-D33C-47E9-9D70-2F7C65DAAD94/NDP46-KB3045560-x86-x64-AllOS-ENU.exe"
						InstallCommand="/q /norestart"
						DetectCondition="Netfx4FullVersion &gt;= 393295 AND (NOT VersionNT64 OR Netfx4x64FullVersion &gt;= 393295)">
				<RemotePayload
					Description="Microsoft .NET Framework 4.6"
					ProductName="Microsoft .NET Framework 4.6"
					Size="66935536"
					Version="4.6.00081.0"
					CertificatePublicKey="4736BF07C0D2432FC2FDA522A3A7CB78EB78E0E1"
					CertificateThumbprint="7CA25765420B5C09E63A2AB0FB2224736408577"
					Hash="5ADE7439D80AF9F1F2D97F1D9E3DE1F6F1C6C4E5" />
				<ExitCode Value="3010" Behavior="forceReboot"/>
			</ExePackage>
		</PackageGroup>
	</Fragment>-->
</Wix>