<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define Zenthia.LiquidAR.Win_TargetDir=$(var.Zenthia.LiquidAR.Win.TargetDir)?>
	<Product Id="*" Name="Sistema LiquidAR" Language="11274" Version="2.0.0.0" Manufacturer="Zenthia" UpgradeCode="76b91c9b-aedf-4f67-8d1e-482d9097ac11">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="Ya hay una version mas reciente de [ProductName] instalada." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Zenthia - Instalador Principal" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Zenthia" />
			</Directory>
			<!-- Acceso a la carpeta 'Archivos de Programa' del sistema -->
			<Directory Id="ProgramFilesFolder">
				<!-- Carpeta de tu empresa (creará: C:\Program Files\Mi Empresa) -->
				<Directory Id="COMPANYFOLDER" Name="Zenthia">
					<!-- Carpeta de tu app (creará: C:\Program Files\Mi Empresa\Mi Aplicacion) -->
					<Directory Id="INSTALLFOLDER" Name="Liquidar" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
		  <Component Id="ApplicationShortcut" Guid="f87ba835-ac86-4d49-9d82-8b12fdab7c3f">
			<!-- Acceso directo en el Menú de Inicio -->
			<Shortcut Id="ApplicationStartMenuShortcut" 
					  Name="Liquidar" 
					  Description="Inicia LiquidAR"
					  Target="[#Zenthia.LiquidAR.Win.exe]"
					  WorkingDirectory="INSTALLFOLDER" />
			<!-- Borra la carpeta del menú al desinstalar -->
			<RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
			<!-- Es necesario un valor de registro como KeyPath para componentes de este tipo -->
			<RegistryValue Root="HKCU" Key="Software\Zenthia\LiquidA" Name="installed" Type="integer" Value="1" KeyPath="yes" />
		  </Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="Zenthia_Icono.ico" Guid="f11e4ac5-04a3-4278-92b9-83f164993b32">
			  <File Id="Zenthia_Icono.ico" Name="Zenthia_Icono.ico" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Zenthia_Icono.ico" />
			</Component>
			<Component Id="DevExpress.XtraNavBar.v23.2.dll" Guid="0079fcc9-757b-4fd2-84c1-7d5ff3ddf9a1">
			  <File Id="DevExpress.XtraNavBar.v23.2.dll" Name="DevExpress.XtraNavBar.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraNavBar.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraVerticalGrid.v23.2.dll" Guid="b424b80f-8ef7-4670-a520-233dd4780c2e">
			  <File Id="DevExpress.XtraVerticalGrid.v23.2.dll" Name="DevExpress.XtraVerticalGrid.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraVerticalGrid.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.RichEdit.v23.2.Core.dll" Guid="9813d38d-8e24-43bb-af6b-f11e0e765fb5">
			  <File Id="DevExpress.RichEdit.v23.2.Core.dll" Name="DevExpress.RichEdit.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.RichEdit.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.Office.v23.2.Core.dll" Guid="0e4164a9-1cf4-40a9-b63c-a837b48c4c08">
			  <File Id="DevExpress.Office.v23.2.Core.dll" Name="DevExpress.Office.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Office.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.Pdf.v23.2.Core.dll" Guid="a0058a40-8a0c-4d41-bbaa-ca146c9efc8c">
			  <File Id="DevExpress.Pdf.v23.2.Core.dll" Name="DevExpress.Pdf.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Pdf.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.XtraTreeList.v23.2.dll" Guid="a1bd99bf-3a81-4107-90d7-3d7e800a4e4c">
			  <File Id="DevExpress.XtraTreeList.v23.2.dll" Name="DevExpress.XtraTreeList.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraTreeList.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.CodeParser.v23.2.dll" Guid="fbf0f25f-5337-4904-a631-228d7f03ae1a">
			  <File Id="DevExpress.CodeParser.v23.2.dll" Name="DevExpress.CodeParser.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.CodeParser.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraRichEdit.v23.2.dll" Guid="ee5acbfa-d685-4da4-8d20-23dc06705661">
			  <File Id="DevExpress.XtraRichEdit.v23.2.dll" Name="DevExpress.XtraRichEdit.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraRichEdit.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Images.v23.2.dll" Guid="6abdca4e-56de-4e88-9261-8b0b1fe0a177">
			  <File Id="DevExpress.Images.v23.2.dll" Name="DevExpress.Images.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Images.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Utils.v23.2.UI.dll" Guid="1235a057-a9b6-4752-9b6f-dfddfe763523">
			  <File Id="DevExpress.Utils.v23.2.UI.dll" Name="DevExpress.Utils.v23.2.UI.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Utils.v23.2.UI.dll" />
			</Component>
			<Component Id="DevExpress.DemoData.v23.2.dll" Guid="c8adfb4c-6201-409f-970d-004c3de3c532">
			  <File Id="DevExpress.DemoData.v23.2.dll" Name="DevExpress.DemoData.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.DemoData.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.PivotGrid.v23.2.Core.dll" Guid="d966b94b-f736-4be7-b557-8280d0d9ef1f">
			  <File Id="DevExpress.PivotGrid.v23.2.Core.dll" Name="DevExpress.PivotGrid.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.PivotGrid.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.Xpo.v23.2.dll" Guid="95075182-4784-4370-934e-38c6bd095a46">
			  <File Id="DevExpress.Xpo.v23.2.dll" Name="DevExpress.Xpo.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Xpo.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraDiagram.v23.2.dll" Guid="41c142f8-ffb4-4f04-b116-82caaa436285">
			  <File Id="DevExpress.XtraDiagram.v23.2.dll" Name="DevExpress.XtraDiagram.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraDiagram.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Diagram.v23.2.Core.dll" Guid="e30c4da2-9c9e-428b-afad-c20608865515">
			  <File Id="DevExpress.Diagram.v23.2.Core.dll" Name="DevExpress.Diagram.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Diagram.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.XtraCharts.v23.2.Wizard.dll" Guid="f0e49dc8-26e2-40da-9e45-6ba523d94a88">
			  <File Id="DevExpress.XtraCharts.v23.2.Wizard.dll" Name="DevExpress.XtraCharts.v23.2.Wizard.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraCharts.v23.2.Wizard.dll" />
			</Component>
			<Component Id="DevExpress.Charts.v23.2.Core.dll" Guid="f31fd1ec-ad86-4f00-a892-974a99b20f60">
			  <File Id="DevExpress.Charts.v23.2.Core.dll" Name="DevExpress.Charts.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Charts.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.XtraGauges.v23.2.Core.dll" Guid="bf5f7a25-304c-45dd-b582-93b61ed272fd">
			  <File Id="DevExpress.XtraGauges.v23.2.Core.dll" Name="DevExpress.XtraGauges.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraGauges.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.XtraPivotGrid.v23.2.dll" Guid="149c890f-4f3f-492f-ac20-1d9de1238e94">
			  <File Id="DevExpress.XtraPivotGrid.v23.2.dll" Name="DevExpress.XtraPivotGrid.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraPivotGrid.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraCharts.v23.2.Extensions.dll" Guid="97beab91-bf6c-49f3-b1b8-e535a5c11355">
			  <File Id="DevExpress.XtraCharts.v23.2.Extensions.dll" Name="DevExpress.XtraCharts.v23.2.Extensions.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraCharts.v23.2.Extensions.dll" />
			</Component>
			<Component Id="DevExpress.Pdf.v23.2.Drawing.dll" Guid="aab3588a-6bbc-4b83-98a8-a9b13177834c">
			  <File Id="DevExpress.Pdf.v23.2.Drawing.dll" Name="DevExpress.Pdf.v23.2.Drawing.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Pdf.v23.2.Drawing.dll" />
			</Component>
			<Component Id="Syncfusion.Compression.Base.dll" Guid="21f9e4a2-8829-4cb2-aae2-c32b1759735f">
			  <File Id="Syncfusion.Compression.Base.dll" Name="Syncfusion.Compression.Base.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Syncfusion.Compression.Base.dll" />
			</Component>
			<Component Id="DevExpress.DataAccess.v23.2.UI.dll" Guid="ec8734aa-d26e-450f-8893-45fa14f6c547">
			  <File Id="DevExpress.DataAccess.v23.2.UI.dll" Name="DevExpress.DataAccess.v23.2.UI.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.DataAccess.v23.2.UI.dll" />
			</Component>
			<Component Id="DevExpress.Tutorials.v23.2.dll" Guid="3341b9a8-77d1-419d-bcbb-aa1d48b556f4">
			  <File Id="DevExpress.Tutorials.v23.2.dll" Name="DevExpress.Tutorials.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Tutorials.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Sparkline.v23.2.Core.dll" Guid="687875d6-31e1-4ed1-a9b9-5795f2878b23">
			  <File Id="DevExpress.Sparkline.v23.2.Core.dll" Name="DevExpress.Sparkline.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Sparkline.v23.2.Core.dll" />
			</Component>
			<Component Id="DevExpress.Data.Desktop.v23.2.dll" Guid="579c4537-cdfd-4f9a-896d-d98de094cf94">
			  <File Id="DevExpress.Data.Desktop.v23.2.dll" Name="DevExpress.Data.Desktop.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Data.Desktop.v23.2.dll" />
			</Component>
			<Component Id="Zenthia.LiquidAR.Win.exe" Guid="9afa9eb9-de22-4818-a735-be1f35321739">
			  <File Id="Zenthia.LiquidAR.Win.exe" Name="Zenthia.LiquidAR.Win.exe" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Zenthia.LiquidAR.Win.exe" />
			</Component>
			<Component Id="Zenthia.LiquidAR.Win.exe.config" Guid="f88bb889-443d-4050-817c-b6ebaebc7f26">
			  <File Id="Zenthia.LiquidAR.Win.exe.config" Name="Zenthia.LiquidAR.Win.exe.config" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Zenthia.LiquidAR.Win.exe.config" />
			</Component>
			<Component Id="DevExpress.Data.v23.2.dll" Guid="e783597e-d831-4b2b-baaa-162f6481e8a6">
			  <File Id="DevExpress.Data.v23.2.dll" Name="DevExpress.Data.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Data.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Utils.v23.2.dll" Guid="f3bfef61-2afc-43e7-b17c-ebfe7ad011f0">
			  <File Id="DevExpress.Utils.v23.2.dll" Name="DevExpress.Utils.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Utils.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraBars.v23.2.dll" Guid="068e1d35-a980-491a-b226-aa3185ebac6a">
			  <File Id="DevExpress.XtraBars.v23.2.dll" Name="DevExpress.XtraBars.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraBars.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraEditors.v23.2.dll" Guid="f2fd800f-b426-4c50-bc1c-09e3e293f5f1">
			  <File Id="DevExpress.XtraEditors.v23.2.dll" Name="DevExpress.XtraEditors.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraEditors.v23.2.dll" />
			</Component>
			<Component Id="Zenthia.AccesoDatos.dll" Guid="af0808be-d375-49ca-9bc1-de24bf560fd2">
			  <File Id="Zenthia.AccesoDatos.dll" Name="Zenthia.AccesoDatos.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Zenthia.AccesoDatos.dll" />
			</Component>
			<Component Id="DevExpress.XtraGrid.v23.2.dll" Guid="43bb53f0-36d9-4d9e-b362-a31d858cfe86">
			  <File Id="DevExpress.XtraGrid.v23.2.dll" Name="DevExpress.XtraGrid.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraGrid.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Mvvm.v23.2.dll" Guid="f8f90fa0-b050-4dc9-84f9-c3a19080ec15">
			  <File Id="DevExpress.Mvvm.v23.2.dll" Name="DevExpress.Mvvm.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Mvvm.v23.2.dll" />
			</Component>
			<Component Id="Zenthia.mvvm.dll" Guid="0472eacf-f2de-4c25-8595-efd83093e259">
			  <File Id="Zenthia.mvvm.dll" Name="Zenthia.mvvm.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Zenthia.mvvm.dll" />
			</Component>
			<Component Id="DevExpress.XtraReports.v23.2.Extensions.dll" Guid="5078a46d-ea4f-47a3-9552-39905496876c">
			  <File Id="DevExpress.XtraReports.v23.2.Extensions.dll" Name="DevExpress.XtraReports.v23.2.Extensions.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraReports.v23.2.Extensions.dll" />
			</Component>
			<Component Id="DevExpress.XtraPrinting.v23.2.dll" Guid="5aae859a-0a37-4cc4-b749-c421148d5008">
			  <File Id="DevExpress.XtraPrinting.v23.2.dll" Name="DevExpress.XtraPrinting.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraPrinting.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraReports.v23.2.dll" Guid="34da1729-1743-4b85-897b-8cdc9b5891ae">
			  <File Id="DevExpress.XtraReports.v23.2.dll" Name="DevExpress.XtraReports.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraReports.v23.2.dll" />
			</Component>
			<Component Id="Syncfusion.XlsIO.Base.dll" Guid="624d4111-d7a7-4692-b51b-8466631505a4">
			  <File Id="Syncfusion.XlsIO.Base.dll" Name="Syncfusion.XlsIO.Base.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Syncfusion.XlsIO.Base.dll" />
			</Component>
			<Component Id="DevExpress.XtraLayout.v23.2.dll" Guid="e2b7fed5-9a6b-4da5-96c9-6a7d9d418ba7">
			  <File Id="DevExpress.XtraLayout.v23.2.dll" Name="DevExpress.XtraLayout.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraLayout.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraWizard.v23.2.dll" Guid="24fff3cf-8d1c-4dac-ad81-78e724f49901">
			  <File Id="DevExpress.XtraWizard.v23.2.dll" Name="DevExpress.XtraWizard.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraWizard.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.DataAccess.v23.2.dll" Guid="919393f2-e23f-4eb6-9529-5d4c2f47fc9a">
			  <File Id="DevExpress.DataAccess.v23.2.dll" Name="DevExpress.DataAccess.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.DataAccess.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.XtraCharts.v23.2.dll" Guid="063cec7d-9a03-4c09-ac9c-597ce1513c57">
			  <File Id="DevExpress.XtraCharts.v23.2.dll" Name="DevExpress.XtraCharts.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.XtraCharts.v23.2.dll" />
			</Component>
			<Component Id="EntityFramework.dll" Guid="52dfd364-17c5-4388-960a-fc1309e02de3">
			  <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)EntityFramework.dll" />
			</Component>
			<Component Id="DevExpress.BonusSkins.v23.2.dll" Guid="1c06f014-cbb7-4b6b-9985-18e9784d0c11">
			  <File Id="DevExpress.BonusSkins.v23.2.dll" Name="DevExpress.BonusSkins.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.BonusSkins.v23.2.dll" />
			</Component>
			<Component Id="DevExpress.Printing.v23.2.Core.dll" Guid="5f7b86f6-4c59-4a1b-8561-0d4a04e973f6">
			  <File Id="DevExpress.Printing.v23.2.Core.dll" Name="DevExpress.Printing.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Printing.v23.2.Core.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="adb13b45-89ad-459e-999d-2dba1697416f">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="DevExpress.Drawing.v23.2.dll" Guid="906ff4dd-3c97-4467-9bde-40c727f09aed">
			  <File Id="DevExpress.Drawing.v23.2.dll" Name="DevExpress.Drawing.v23.2.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.Drawing.v23.2.dll" />
			</Component>
			<Component Id="Syncfusion.Licensing.dll" Guid="2faf2090-4b8c-4850-81b3-c96e0557e598">
			  <File Id="Syncfusion.Licensing.dll" Name="Syncfusion.Licensing.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)Syncfusion.Licensing.dll" />
			</Component>
			<Component Id="DevExpress.DataVisualization.v23.2.Core.dll" Guid="a6e008d3-93e1-4450-a2f6-57ff5a599f03">
			  <File Id="DevExpress.DataVisualization.v23.2.Core.dll" Name="DevExpress.DataVisualization.v23.2.Core.dll" Source="$(var.Zenthia.LiquidAR.Win_TargetDir)DevExpress.DataVisualization.v23.2.Core.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
